:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0px;
  vertical-align: middle;
}

.checkbox-container {
  width: 370px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 15px 8px 22px;
  box-sizing: border-box;
  opacity: 1;
}

/* base checkbox */
.checkbox-input {
  width: 23px;
  height: 23px;

  appearance: none;
  -webkit-appearance: none;

  border-radius: 6px;
  border: 1px solid #CDCDCD;
  background-color: #ffffff;

  cursor: pointer;
  opacity: 0.6;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

/* Base checkmark */
.checkbox-input::after {
  content: '';
  width: 6px;
  height: 10px;

  border: solid #E3E3E3;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);

  opacity: 0;
  transition: opacity 0.15s ease, border-color 0.15s ease;
}

/* Hover (unchecked preview) */
.checkbox-input:hover {
  border-color: #BDBDBD;
  opacity: 1;
}

.checkbox-input:hover:not(:checked)::after {
  opacity: 1;
}

/* focus when pressed */
.checkbox-input:focus-visible,
.checkbox-input:active {
  box-shadow: 0 0 0 3px rgba(36, 105, 246, 0.1);
}

.checkbox-input:focus-visible::after,
.checkbox-input:active::after {
  border-color: #878787;
  opacity: 1;
}

/* Checked final*/
.checkbox-input:checked {
  background-color: #2469F6;
  border-color: #2469F6;
}

.checkbox-input:checked::after {
  border-color: #FFFFFF;
  border-width: 0 2px 2px 0;
  opacity: 1;
}

/* Focus shadow */
.checkbox-input:focus-visible {
  outline: 2px solid #a5b4fc;
  outline-offset: 2px;
}

/* pressed when checked */
.checkbox-input:checked:active {
  background-color: #2469F6;
  border-color: #2469F6;
}

.checkbox-input:checked:active::after {
  border-color: #FFFFFF;
  border-width: 0 1px 1px 0;
  opacity: 1;
}

/* from checked to uncheck final */
.checkbox-input:checked:not(:active) {
  background-color: #2469F6;
  border-color: #2469F6;
}

.checkbox-input:checked:not(:active)::after {
  border-color: #FFFFFF;
  border-width: 0 2px 2px 0;
  opacity: 1;
}

/* Checked + hover */
.checkbox-input:checked:hover {
  background-color: #5087F8;
  border-color: #5087F8;
}

/* Checked + focus */
.checkbox-input:checked:focus-visible {
  background-color: #5087F8;
  border-color: #5087F8;
}

/* make checkbox container scrollable */
.checkbox-scroll {
  height: 164px;           
  overflow-y: auto;        
  overflow-x: hidden;      
  display: flex;
  flex-direction: column;       
  scroll-behavior: smooth;
}

.checkbox-scroll::-webkit-scrollbar {
  display: none;
}

.primary-button {
  width: 340px;
  height: 40px;
  padding: 10px 20px;
  gap: 10px;
  border-radius: 4px;
  border: none;
  background-color: #FFCE22;
  opacity: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #1F2128;
}

/* Hover */
.primary-button:hover {
  background-color: #FFD84D;
}

/* Remove default focus ring */
.primary-button:focus {
  outline: none;
}

.primary-button:focus-visible {
  outline: none;
}

/* container */
.component-container {
  border-radius: 6px;
  border: 1px solid #EEEEEE;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 1;

  box-shadow: 
    0px 8px 15px 0px #1414141F,
    0px 0px 4px 0px #1414141A;
}

.divider {
  margin-left: 15px;
  margin-right: 15px;
  border: 0.7px solid #CDCDCD;
}

.button-container {
  padding: 10px 15px 10px 15px;
  box-sizing: border-box;
  opacity: 1;  
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
